<div class="container">
  <h1>autotag</h1>
  <p>Made with <i class="fa fa-heart"></i> by Gerry Mathe and Rane Gowan</p>
  <button><i class="fa fa-instagram fa-1x"></i> Signin with Instagram</button>
  <br>
  <%= link_to "Add a photo", new_picture_path %>
</div>