<div class="container">
  
  <img src="https://avatars1.githubusercontent.com/u/11501555?v=3&s=460">
  <h2><i class="fa fa-user"></i> RaneGowan_</h2>
  <h4>Rane Gowan</h4>
  <button class="signout">Signout</button>

  <%= render 'form' %>
</div>
